

div{
    background-color: red;
    width: 150px;
    height: 150px;
}
div{
    background-color: red;
    width: 150px;
    height: 150px;
}
div{
    background-color: red;
    width: 150px;
    height: 150px;
}
div{
    background-color: red;
    width: 150px;
    height: 150px;
}
div{
    background-color: red;
    width: 150px;
    height: 150px;
}
div{
    background-color: red;
    width: 150px;
    height: 150px;
}
div{
    background-color: red;
    width: 150px;
    height: 150px;
}
div{
    background-color: red;
    width: 150px;
    height: 150px;
}
div{
    background-color: red;
    width: 150px;
    height: 150px;
}
body{display: flex;
width: 100vw;
height: 100vh;
justify-content: center;
align-items: center;}